* {
  background-color: black;
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

.daysOW li {
  display: inline-block;
  color: #8a8a8a;
  padding: 0px 10px;
}

.daysOW {
  text-align: center;
  margin-top: 30%;
  padding: 10px;
}
.clock .active {
}

.Time h1 {
  color: #00ff97;
  font-size: 100px;
  text-align: center;
}
#time {
  color: #00ff97;
  font-size: 100px;
  text-align: center;
}

#day {
  color: #00ff97;
  font-size: 100px;
  text-align: center;
}

.Mil_Stan button {
  border: none;
}

.Mil_Stan button {
  display: inline-block;
  color: #8a8a8a;
  padding-left: 30px;
  padding-right: 30px;
}

.Mil_Stan .active {
  color: #00ff97;
}

.Mil_Stan {
  text-align: center;
}
